<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/css/quiz.css">
        <link rel="icon" type="image/x-icon" href="https://cdn-icons-png.flaticon.com/512/6193/6193558.png">
        <title>Quiz</title>
    </head>
    <body div class="container"></div>
        <div class="btn"></div>
        
<section class="jogo">
        <div id="wrapper">
        <div id="titulo"></div>
        <ul>
            <li class="alternativa"></li>
            <li class="alternativa"></li>
            <li class="alternativa"></li>
            <li class="alternativa"></li>
        </ul>
        </div>
        <div id="pontos"></div>
        <div id="result"></div>
</section>


        <img class="alienamarelo" src="../static/images/alienamarelo.png">

        <img class="alienazul" src="../static/images/alienazul.png">

        <img class="alienazulverde" src="../static/images/alienazulverde.png">

        <img class="pedra1" src="../static/images/pedra1.png">

        <img class="pedra" src="../static/images/pedra.png">

        <img class="rocha1" src="../static/images/rocha1.png">

        <img class="rocha2" src="../static/images/rocha.png">

        <img class="pedra" src="../static/images/pedra.png">

        <img class="alienverde" src="../static/images/alienverde.png">

        <img class="pedra1" src="../static/images/pedra1.png">

        <img class="lago" src="../static/images/lago.png">

        <img class="lago1" src="../static/images/lago1.png">

        <script src="../static/js/quiz.js"></script>
    </body>
</html>